body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

header {
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    font-size: 36px;
    margin: 0;
}

p {
    font-size: 18px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

section {
    margin-bottom: 50px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: disc; /* Add bullets to unordered lists */
}

li {
    font-size: 18px;
    line-height: 1.5;
}

h3 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.job,
.project {
    margin-bottom: 30px;
}

.job h3,
.project h3 {
    margin-top: 0;
}

.job p,
.project p {
    margin-bottom: 5px;
}

.job ul,
.project ul {
    padding-left: 20px;
}

#skills ul {
    columns: 2;
}

#skills ul li {
    margin-bottom: 10px;
}

#education ul li {
    margin-bottom: 10px;
}
